:root {
	--font-size-body: 13px;
	--font-color-body: #777777 !important;
	--font-family-primary: 'Raleway' !important;
	--letter-spacing: 0;
	--text-transform-button: capitalize;
	--border-radius-button: 20px;
	--color-primary: #005693;
	--color-primary-50: #f2f6f9;
	--color-primary-200: #B5CEE0;
	--color-primary-300: #8FB5D0;
	--color-primary-400: #005693;
	--color-primary-600: #005693;
	--color-primary-700: #005693;
	--color-primary-900: #173557;
	--color-gray-50: #f9fafb;
	--color-gray-100: #F2F4F7;
	--color-gray-200: #EAECF0;
	--color-gray-300: #d0d5dd;
	--color-gray-500: #667085;
	--color-gray-700: #344054;
	--color-gray-900: #101828;
	--color-base-white: #ffffff;
	--color-text-muted: #B5B5C3;
	--color-black: #000000;
}


/* @font-face {
	font-family: 'Raleway';
	src: url('../src/fonts/raleway/Raleway-Bold.eot');
	src: url('../src/fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../src/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
		url('../src/fonts/raleway/Raleway-Regular.woff') format('woff'),
		url('../src/fonts/raleway/Raleway-Regular.ttf') format('truetype'),
		url('../src/fonts/raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
} */

/* Raleway Medium */
/* @font-face {
	font-family: 'Raleway';
	src: url('../src/fonts/raleway/Raleway-Medium.eot');
	src: url('../src/fonts/raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../src/fonts/raleway/Raleway-Medium.woff2') format('woff2'),
		url('../src/fonts/raleway/Raleway-Medium.woff') format('woff'),
		url('../src/fonts/raleway/Raleway-Medium.ttf') format('truetype'),
		url('../src/fonts/raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
} */

/* Raleway Semibold */
/* @font-face {
	font-family: 'Raleway';
	src: url('../src/fonts/raleway/Raleway-SemiBold.eot');
	src: url('../src/fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../src/fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
		url('../src/fonts/raleway/Raleway-SemiBold.woff') format('woff'),
		url('../src/fonts/raleway/Raleway-SemiBold.ttf') format('truetype'),
		url('../src/fonts/raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
} */
/* Raleway Bold */
/* @font-face {
	font-family: 'Raleway';
	src: url('../src/fonts/raleway/Raleway-Bold.eot');
	src: url('../src/fonts/raleway/Raleway-Bold.eot') format('embedded-opentype'),
		url('../src/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
		url('../src/fonts/raleway/Raleway-Bold.woff') format('woff'),
		url('../src/fonts/raleway/Raleway-Bold.ttf') format('truetype'),
		url('../src/fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
} */
.cs-container {
	width: 100%;
	max-width: 80rem;
	margin-right: auto;
	margin-left: auto;
}
* {
	box-sizing: border-box;
}
.color-black {
	color: #101828 !important;
}
.color-desc {
	color: var(--color-gray-500);
}
.remove-decoration {
	text-decoration: none !important;
}
.section-spacing {
	padding-top: 50px;
	padding-bottom: 50px !important;
}

/* counter section */
.counter-section h2 {
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
	line-height: 44px;
	text-align: center;
	letter-spacing: -0.02em;
	color: var(--color-primary-50) !important;
	margin-bottom: 20px;
}
.counter-section p {
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: var(--color-primary-50) !important;
}

.count-heading {
	height: 72px;
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: var(--color-primary-50);
	display: flex;
	justify-content: center;
}
.count-desc {
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: var(--color-primary-50) !important;
	display: flex;
	justify-content: center;
}
.main-buttn.white-buttn {
    border: 1px solid #fff;
    color: #fff;
}
.main-buttn {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 8px;
    margin: 10px;
    font-size: 14px;
}
.counter-section{
	width: 100%;
    opacity: 0.7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	height: 500px;   
}
.counting-section{
	width: 100%;
    opacity: 0.7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	height: 300px;   
	
	
}
.has-pattern::before{
	position: absolute;
    content: "";
    height: 300px;
    top: 1239px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.border-section{
	border-bottom: 2px solid;
	border-top: 2px solid;
	width:50%;
	text-align: center;
	margin-left:283px;
	padding: 15px;
}
.has-overlay::before {
    position: absolute;
    content: "";
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
.counter-bg {
	padding: 10px !important;
	margin: auto;
}
.feature p {
	font-family: var(--font-family-primary);	
    color: #777!important;
    font-weight: 400!important;
    font-size: 20px;
} 
.feature h6 {
	font-family: var(--font-family-primary);	
    font-weight: 600!important;
    font-size: 23px;
} 
.features-all-icon{
	background-position: center center;
    background-repeat: no-repeat;
    width: 82px !important;
    height: 81px !important;
	padding-top: 19px;
    background-size: contain;
	margin:auto;
	margin-bottom:10px;
	border: 1px solid #ddd;
	border-radius: 50%;
	display: inline-block;
}
.features-all-icon i{
	font-size: 40px;
}
.features-all-icon:hover{
	background-position: center center;
    background-repeat: no-repeat;
    width: 82px !important;
    height: 81px !important;
	padding-top: 19px;
    background-size: contain;
	margin:auto;
	margin-bottom:10px;
	border: 1px solid #ddd;
	border-radius: 50%;
	display: inline-block;
	background: #222;;
}
.features-all-icon:hover i{
	font-size: 40px;
	color: #FFF;
}

.work-ex-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.work-ex-timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.work-ex-timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-left: -4px;
}

.work-ex-timeline .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  margin-left: 7px;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 766px)  {
  .work-ex-timeline::after {
  left: 31px;
  }
  
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
  .content {
    padding: 0px 31px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    width: 325px!important;	
  }
  .quote-heading {
    height: 72px;
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--color-primary-50);
    display: flex;
    justify-content: center;
    text-align: center;
    text-overflow: ;
    margin-top: -40px!important;
	}
	.border-section {
		width: 100%;
		margin-left: 0px;
	}
	.counter-section h2 {
		font-size: 40px;
	}
	.quote-desc {
		margin-top: 149px!important;
		margin-left: 0px!important;
	}
	.about-section{
		height: 830px!important;
	}
	.journey-paragraph{
		padding: 10px;
	}
	.profile-content-left{
		text-align: center!important;
	}
	.work-ex-timeline{
		inline-size: fit-content;
	}
}

@media only screen and (min-width:767px) and (max-width:1080px) {

	.border-section {
		border-bottom: 2px solid;
		border-top: 2px solid;
		width: 580px;
		text-align: center;
		margin-left: 65px;
		padding: 15px;
	}
	.about-section {
		height: 770px!important;
	}
	.profile-content-left{
		text-align: center!important;
	}
	.journey-paragraph{
		padding: 10px!important;
	}
	.quote-heading {
		margin-top: 23px!important;
	}
	.quote-desc {
		margin-left: 20px!important;
		margin-top: 75px!important;
		font-weight: 600!important;
    	font-size: 33px!important;
	}
}
.journey h2{
	color:white;
}
.journey{
	background:rgba(0, 0, 0, 0.75);
	padding-top:30px;
}
.journey-paragraph{
	color:white!important;
}
.quote-heading {
	height: 72px;
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: var(--color-primary-50);
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 122px;
}
.quote-desc {
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: var(--color-primary-50) !important;
	display: flex;
	justify-content: center;
	margin-top: 0px;
	margin-left: 700px;
}

.soical-icon{
	background-position: center center;
    background-repeat: no-repeat;
    width: 30px !important;
    height: 30px !important;
	padding-top: 19px;
    background-size: contain;
	margin:auto;
	margin-bottom:10px;
	display: inline-block;
	background: #4c4c4c;
	border-radius: 4px;
}
.soical-icon i{
	font-size: 16px;
	
	color:#FFF;
}
.icon-wrapper .icon-fb:hover {
    background: #3b5998;
}
.icon-wrapper .icon-wiki:hover {
    background: #ffffffb6;
    color: #000!important;
}
.icon-wrapper .icon-twt:hover {
    background: #55acee;
}
.icon-wrapper .icon-git:hover {
    background: #7f4989;
}
.icon-wrapper .icon-google:hover {
    background: #dc4e41;
}
.icon-wrapper .icon-lkn:hover {
    background: #0077b5;
}
.icon-wrapper .icon-pin:hover {
    background: #bd081c;
}
.counting-section{
	width: 100%;
    opacity: 0.7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	height: 300px;   	
}
.icon-center{
	margin-top: -10px;
}
.about-section{
	width: 100%;
    opacity: 0.7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	height: 740px;   
}
.about-profile{
	border: 6px solid white;
    border-radius:100px!important;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.about-section h4{
	font-size: 15px;
}
.about-section p {
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	color: var(--color-gray-700) !important;
}
.accordion-item {
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	color: var(--color-gray-700) !important;
}
.about-info{
	text-align: center;
}
.counter-sub-section{
	z-index: 1;
}